<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>12</integer>
			<key>BoardConfig</key>
			<string>j317ap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>28</integer>
			<key>BoardConfig</key>
			<string>j317xap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>14</integer>
			<key>BoardConfig</key>
			<string>j318ap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>30</integer>
			<key>BoardConfig</key>
			<string>j318xap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>j320ap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>24</integer>
			<key>BoardConfig</key>
			<string>j320xap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>j321ap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>26</integer>
			<key>BoardConfig</key>
			<string>j321xap</string>
			<key>CPID</key>
			<integer>32807</integer>
			<key>Platform</key>
			<string>t8027</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>17E255</string>
	<key>ProductVersion</key>
	<string>13.4</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>167804967</integer>
			<integer>201359399</integer>
			<integer>134250535</integer>
			<integer>234913831</integer>
			<integer>436240423</integer>
			<integer>503349287</integer>
			<integer>402685991</integer>
			<integer>469794855</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>167804967</integer>
			<integer>201359399</integer>
			<integer>134250535</integer>
			<integer>234913831</integer>
			<integer>436240423</integer>
			<integer>503349287</integer>
			<integer>402685991</integer>
			<integer>469794855</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad8,7</string>
		<string>iPad8,6</string>
		<string>iPad8,5</string>
		<string>iPad8,4</string>
		<string>iPad8,3</string>
		<string>iPad8,2</string>
		<string>iPad8,1</string>
		<string>iPad8,8</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
		<key>048-65481-316.dmg</key>
		<string>Case-sensitive Journaled HFS+</string>
	</dict>
</dict>
</plist>
